/* fonts */

.open-sans-normal {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

/* shared colors */
.orange-button1 {
  height: 64px;
  width: 150px;
  border-radius: 5px;
  background-color: #fd6e0a;
  border: none;
}

.dark1 {
  color: #181818;
}

.dark2 {
  color: #474747;
}

.dark3 {
  color: #757575;
}

/* shared things code */

.main-title {
  font-size: 35px;
  font-weight: 700;
}

.main-sub-title {
  font-size: 20px;
  font-weight: 700;
}

.vice-title {
  font-size: 20px;
}

.vice-title2 {
  font-size: 18px;
}

.title25 {
  font-size: 25px;
  font-weight: 700;
}

.semibold20 {
  font-size: 20px;
  font-weight: 600;
}

.bold20 {
  font-size: 20px;
  font-weight: 700;
}

.normal18 {
  font-size: 18px;
}
/* header Design */

.header {
  background-color: #fff8f3;
  background-image: url(../images/developer.png), url(../images/header_bg.png);
  background-repeat: no-repeat;
  background-position: top left, bottom right;
}
/* Nav bar design */

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 50px 230px 0px 226px;
}

nav > h2 {
  font-weight: 800;
  color: #181818;
  font-size: 45px;
}

nav span {
  color: #fd6e0a;
}

nav ul {
  font-size: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 25px;
}

nav ul li {
  list-style-type: none;
}

nav button {
  font-weight: 700;
  font-size: 20px;
  color: white;
  padding: 18px 35px 19px 36px;
}

/* banner section design */

.banner {
  display: flex;
  justify-content: space-between;
  margin-left: 226px;
}

.banner-subtitle {
  font-size: 45px;
  font-weight: 700;
}

.banner-title {
  font-size: 86px;
  font-weight: 800;
}

.banner-description {
  font-size: 18px;
}

.banner-buttons {
  display: flex;
  gap: 30px;
}

.banner-buttons1 {
  width: 200px;
  color: white;
  font-size: 20px;
  font-weight: 700;
}

.banner-buttons2 {
  width: 160px;
  height: 64px;
  color: #fd6e0a;
  background-color: transparent;
  border: 1px solid #fd6e0a;
  font-size: 20px;
  font-weight: 700;
}

/* main section design */

.main {
  max-width: 1140px;
  margin: 0 auto;
}

/* main section1 design */
.main-section1 {
  background-color: #fff8f3;
  margin-top: 120px;
  margin-bottom: 130px;
  align-items: center;
  padding: 115px 144px 147px 169px;
}

.about {
  text-align: center;
  background-color: #ffffff;
}

.main-sub-section {
  display: flex;
  gap: 50px;
}

/* main section2 design */

.main-section2 {
  display: 0 auto;
}

.section-content {
  display: flex;
  gap: 24px;
}

.sc-card {
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
  border: 5px;
}

.section-title {
  text-align: center;
  padding: 0px 116px 50px 115px;
}

.section-content1,
.section-content2,
.section-content3,
.section-content4 {
  padding: 30px;
}

/* main section3 design */

.main-section3 {
  margin-top: 130px;
}

.section3-title {
  text-align: center;
}

.section3-contents {
  display: flex;
  gap: 50px;
}

.content1-title,
.content2-title {
  font-size: 30px;
  font-weight: 700;
}

.section3-button {
  height: 64px;
  width: 200px;
  border-radius: 5px;
  background-color: #fd6e0a;
  border: none;
  color: white;
}

.button1 {
  text-align: center;
  margin-top: 50px;
}
